<!-- your html code here -->
<div style="background-color: white;">
<h2 style="margin: 1rem;">Contact</h2>
<p style="margin: 1rem;">Hello, this is a text that I´m using just to fill up the page, running out of things to say and this is the first
    collab that we are doing</p>
<form>
    <div class="container">
        <div class="row">
            <div class="col-8 border p-3 m-3" style="background-color: rgb(245,245,245);">
                <div class="row ml-2 mr-2">
                    <p class="col">Your E-mail</p>
                    <input type="email" class="form-control col" id="inputEmail3" placeholder="Email">
                </div>
                <div class="row mt-3 mb-2 ml-2 mr-2">
                    <p class="col">Your message</p>
                    <textarea class="form-control col" height="20px" id="textAreaExample1" rows="4" placeholder="Please enter your message here"></textarea>
                    <label class="form-label" for="textAreaExample"></label>
                </div>
                <button style="justify-content:flex-end; margin-left: 90%;" type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
    </div>
</form>
</div>