<!-- your html code here -->
<div class="container-fluid mt-5 mb-5" >
    <div class="row">
        <div class="col-8">
            <div class="title" style="display: flex;" >
                <h2 class="">This First Heading</h2>
                <br>
                <h2 class="text-secondary ps-3">Will Catch Your Eye</h2>
                <br>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
        </div>
        <div class="col-4">
            <img src="../assets/img/1.jpg" >

        </div>
    </div>
</div>