<!-- your html code here -->
<p>Hello, I'm the portfolio.html</p>
<h2 style="margin: 1rem;">Portfolio</h2>
<p style="margin: 1rem;">Hello, this is a text that I´m using just to fill up the page, running out of things to say and this is the first
    collab that we are doing</p>
<div class="row pb-5" style="border-bottom: 1px solid #dee2e6; border-bottom-right-radius: calc(0.3rem - 1px);
border-bottom-left-radius: calc(0.3rem - 1px);">
    <div class="col">
        <img src="http://blogs.egu.eu/geolog/files/2015/01/Landslide-700x400.jpg" width="98%" height="70%px" alt="">
        <h3 style="margin: 1rem; text-color: blue;">Project Name</h3>
        <p style="margin: 1rem;">Hello, this is a text that I´m using just to fill up the page, running out of things to say and this is the first
            collab that we are doing</p>
    </div>
    <div class="col">
        <img src="http://blogs.egu.eu/geolog/files/2015/01/Landslide-700x400.jpg" width="98%" height="70%px" alt="">
        <h3 style="margin: 1rem; text-color: blue;">Project Name</h3>
        <p style="margin: 1rem;">Hello, this is a text that I´m using just to fill up the page, running out of things to say and this is the first
            collab that we are doing</p>
    </div>
    <div class="col">
        <img src="http://blogs.egu.eu/geolog/files/2015/01/Landslide-700x400.jpg" width="98%" height="70%px" alt="">
        <h3 style="margin: 1rem; text-color: blue;">Project Name</h3>
        <p style="margin: 1rem;">Hello, this is a text that I´m using just to fill up the page, running out of things to say and this is the first
            collab that we are doing</p>
    </div>
</div>